getModulesFromRole(role: any) {
  const modulesMap: { [key: string]: { name: string; permissions: string[] } } = {};
  
  // Vérifier que role.roleAuthorities existe et n'est pas vide
  if (role.roleAuthorities && role.roleAuthorities.length > 0) {
    role.roleAuthorities.forEach((permission: any) => {
      const module = permission.tableName;
      if (!modulesMap[module]) {
        modulesMap[module] = { name: module, permissions: [] };
      }
      modulesMap[module].permissions.push(permission.authorityName);
    });
  }
  
  return Object.values(modulesMap);
}



onRoleChange(roleId: string) {
  this.roleService.getRolePermissions('/roles/permissions/', roleId).subscribe(data => {
    this.successMessage = "";
    this.selectedRole = data; // Assigner le rôle sélectionné
    this.selectedRoleModules = this.getModulesFromRole(data.content); // Passer le bon objet (data.content)
  });
}



<div *ngIf="selectedRoleModules.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Module</th>
        <th>Permissions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let module of selectedRoleModules">
        <td>{{ module.name }}</td>
        <td>
          <ul>
            <li *ngFor="let permission of module.permissions">{{ permission }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedRoleModules.length === 0">
  <p>Aucun module disponible pour ce rôle.</p>
</div>
